<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0"> <!-- корректное отображение на мобильных устройствах, отмена масштабирования -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Kayıt Ol</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Custom css -->
    <link href="~/css/stylesheet.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 bg_section_signup">
                    <!-- sağ üst logo kısmı -->
                    <!-- <img src="images/logo_desk.png" alt=""/> -->
                </div>
                <div class="col-12 m_bg_section_signup">
                    <!-- sağ üst logo kısmı telefon için -->
                    <!-- <img src="../vhoops/Kirpilmislar/3.png" alt=""/> -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 signup_section">
                    <form method="post" class="needs-validation" novalidate>
                        <div id="spinner" class="spinner-border text-primary" role="status" style="visibility:hidden">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <h1>Kayıt Ol</h1>
                        <div class="error" id="mail-error">
                            <img src="~/images/icon_error.svg" alt="error_icon" />
                            Hatalı kullanıcı adı.
                        </div>
                        <div class="form-row">
                            <input type="text" class="form-control" id="name" name="FirstName" aria-describedby="emailHelp" placeholder="Ad" required>
                        </div>
                        <div class="form-row">
                            <input type="text" class="form-control" name="LastName" placeholder="Soyad" required>
                        </div>
                        <div class="form-row">
                            <input type="text" class="form-control" name="UserName" placeholder="Kullanıcı Adı" required>
                        </div>
                        <div class="form-row">
                            <input type="email" class="form-control" name="Email" id="mail" placeholder="Eposta" required>
                        </div>
                        <div class="form-row">
                            <input type="password" class="form-control" name="Password" id="password" placeholder="Şifre" required>
                        </div>
                        <div class="form-row">
                            <input type="password" class="form-control" id="re_password" placeholder="Şifre tekrarı" required>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="login_check">
                            <label class="form-check-label" for="login_check">Kabul ediyorum</label>
                        </div>
                        <button type="submit" onclick="runSpinner()" class="btn btn-primary">Kayıt Ol</button>
                        <a type="submit" class="btn btn-outline-primary">Giriş Yap </a>
                        <p id="privacyTerms" class="small_text">
                            Kaydolarak <a href="#">kullanım şartlarımızı</a>, <a href="#">gizlilik politikamızı</a>, <a href="#">ve çerezleri kabul etmiş olursunuz.</a>.
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="~/js/register.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Custom JS -->
        <script src="~/js/index.js"></script>
</body>
</html>