<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/chatStyle.css">

    <link rel="stylesheet" href="~/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <title>Vhoops</title>
</head>

<body>
    <div id="chat-container">
        <div id="search-container">
            <input type="text" maxlength="18" placeholder="Arama" />

        </div>

        @*Mesaj listesi*@
        <div id="conversation-list">

            @for (int i = 0; i < 12; i++)
            {
                <div class="conversation ">
                    <img src="~/images/profile.png" alt="">
                    <div class="title-text">
                        <span class="badge">3</span>
                        Kerem Sarı
                    </div>
                    <div class="created-date">
                        12:33
                    </div>
                    <div class="conversation-message">
                        Yavuz varya öff
                    </div>
                </div>
            }
        </div>

        @*genel bilgilerin olduğu kısım*@
        <div id="general">
            <a href="#">
                <img class="addFriend" src="~/images/black-addFriend.svg" alt="">
            </a>

            <a href="#">
                <span class="chest-badge">3</span>
                <img class="chest" src="~/images/black-chest.svg" alt="">
            </a>
            <div class="myProfile" href="#">
                <img onclick="openMyNav()" ondblclick="closeMyNav()" src="@ViewBag.Image"
                     alt="">

            </div>

        </div>

        @*mesajlaşma kutusunun üstündeki alan*@
        <div id="chat-title">
            <img src="~/images/profile.png" ondblclick="closeNav()" onclick="openNav()" alt="">
            <div class="person-texting" ondblclick="closeNav()" onclick="openNav()">Kerem Sarı</div>

            @*mesajlaşma kutusunun üstünde üç nokta simgesi*@
            <div class="dropdown-container" id="dropdown" tabindex="-1">
                <div class="three-dots" onclick="closeNav()"></div>
                <div class="dropdown">
                    <a href="#" id="settingsBtn">
                        <div>Ayarlar</div>
                    </a>
                    <a href="#">
                        <div>Çıkış</div>
                    </a>
                </div>
            </div>
        </div>

        @*mesaj alanın içi*@
        <div id="chat-message-list">
            @await Html.PartialAsync("_MySideProfilePanel")
            @*sender message*@
            <div class="message-row you-message">
                <div class="message-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae natus quo
                    eveniet vero!
                </div>
                <div class="message-time">12:33</div>
            </div>
            <div class="message-row other-message">
                <div class="message-text">
                    Kerem sen çok güzel bir insansın ya. Lorem ipsum dolor sit. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Quo, pariatur?
                </div>
                <div class="message-time">12:33</div>
            </div>
            @await Html.PartialAsync("_SidePanel")
        </div>

        <div id="chat-form">
            <div class="chat-svg">
                <img src="images/paperclip4.svg" alt="Add Attachment" id="paperclip" />
                <img src="images/smiyley.svg" alt="Add Emoji" id="smiley" />
                <!-- <img src="images/plus.svg" alt="" id="plus" /> -->
            </div>
            <div class="input-group">
                <div class="input-group-append">
                    <input type="text" id="MessageBox" ondblclick="closeNav()" maxlength="73" class="ForImg "
                           placeholder="Bir mesaj yaz." />
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_SettingsPopupPage")





</body>

</html>