@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/css/addFriendNav.css" />

<div id="notificationList" class="notificationSidePanel">

    <a class="closebtn " id="closebtnNav" onclick="closeNotificationNav()">×</a>
    <p class="notification-title">Arkadaş İstekleri</p>
    <hr class="notification-hr">
    <div id="notificationPerson-list">
        <div class="notificationPerson">
            <img src="images/profile.png" alt="Darly Duckmanton">
            <div class="title-text">
                Kerem Sarı
            </div>
            <div class="notificationPerson-message">
                Yavuz varya öff
                <button href="#" class="buttons btn-add"> Kabul Et</button>
                <button href="#" class="buttons btn-reject"> Reddet</button>
            </div>
        </div>
        <div class="notificationPerson">
            <img src="images/profile.png" alt="Darly Duckmanton">
            <div class="title-text">
                Kerem Sarı
            </div>
            <div class="notificationPerson-message">
                Yavuz varya öff
                <button href="#" class="buttons btn-add"> Kabul Et</button>
                <button href="#" class="buttons btn-reject"> Reddet</button>
            </div>
        </div>
        <div class="notificationPerson">
            <img src="images/profile.png" alt="Darly Duckmanton">
            <div class="title-text">
                Kerem Sarı
            </div>
            <div class="notificationPerson-message">
                Yavuz varya öff
                <button href="#" class="buttons btn-add"> Kabul Et</button>
                <button href="#" class="buttons btn-reject"> Reddet</button>
            </div>
        </div>
        <div class="notificationPerson">
            <img src="images/profile.png" alt="Darly Duckmanton">
            <div class="title-text">
                Kerem Sarı
            </div>
            <div class="notificationPerson-message">
                Yavuz varya öff
                <button href="#" class="buttons btn-add"> Kabul Et</button>
                <button href="#" class="buttons btn-reject"> Reddet</button>
            </div>
        </div>
        <div class="notificationPerson">
            <img src="images/profile.png" alt="Darly Duckmanton">
            <div class="title-text">
                Kerem Sarı
            </div>
            <div class="notificationPerson-message">
                Yavuz varya öff
                <button href="#" class="buttons btn-add"> Kabul Et</button>
                <button href="#" class="buttons btn-reject"> Reddet</button>
            </div>
        </div>
        <div class="notificationPerson">
            <img src="images/profile.png" alt="Darly Duckmanton">
            <div class="title-text">
                Kerem Sarı
            </div>
            <div class="notificationPerson-message">
                Yavuz varya öff
                <button href="#" class="buttons btn-add"> Kabul Et</button>
                <button href="#" class="buttons btn-reject"> Reddet</button>
            </div>
        </div>
        <div class="notificationPerson">
            <img src="images/profile.png" alt="Darly Duckmanton">
            <div class="title-text">
                Kerem Sarı
            </div>
            <div class="notificationPerson-message">
                Yavuz varya öff
                <button href="#" class="buttons btn-add"> Kabul Et</button>
                <button href="#" class="buttons btn-reject"> Reddet</button>
            </div>
        </div>

    </div>
</div>

<script>
    function openNotificationNav() {
        document.getElementById("notificationList").style.width = "100%";
    }

    function closeNotificationNav() {
        document.getElementById("notificationList").style.width = "0";
    }
</script>