<link rel="stylesheet" href="~/css/profileUpdateStyle.css">


<div id="myProfileSidepanel" class="myProfilesidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeMyNav()">×</a>
    <img src="~/images/profile.png" alt="">
    <a class="all-name" href="#">Kerem Sarı</a>
    <hr class="mySideProfile-hr">
    <a class="username" href="#">krmsari</a>
    <hr class="mySideProfile-hr">
    <a class="about" href="#">kerem html yazmakta zorlanıyor üzülüyor ağlıyor. kerem html sevmedi...</a>
    <hr class="mySideProfile-hr">
    <a href="#"> <button class="update-button" id="myBtn"> Güncelle </button></a>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="image-content">
            <img src="~/images/profile.png">
            <button id="change-photo"><i class="fas fa-images">Değiştir</i></button>
        </div>
        <form class="update-form">
            <div class="form-group">
                <input placeholder="Ad" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <input placeholder="Soyad" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <input placeholder="Kullanıcı Adı" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <input placeholder="Eposta" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <textarea placeholder="Hakkında" class="form-control" rows="3"></textarea>
            </div>
            <div>
                <button class="submit-button">Güncelle</button>
            </div>
        </form>
    </div>
</div>

<script>
    function openMyNav() {
        document.getElementById("myProfileSidepanel").style.width = "25%";
    }

    function closeMyNav() {
        document.getElementById("myProfileSidepanel").style.width = "0";
    }
</script>
