<div id="myProfileSidepanel" class="myProfilesidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeMyNav()">×</a>
    <img src="@ViewBag.Image" alt="">
    <a class="all-name" href="#">Kerem Sarı</a>
    <hr class="mySideProfile-hr">
    <a class="username" href="#">krmsari</a>
    <hr class="mySideProfile-hr">
    <a class="about" href="#">kerem html yazmakta zorlanıyor üzülüyor ağlıyor. kerem html sevmedi...</a>
    <hr class="mySideProfile-hr">
    <a href="#"> <button class="update-button" id="myBtn"> Güncelle </button></a>
</div>

<script>
    function openMyNav() {
        document.getElementById("myProfileSidepanel").style.width = "25%";
    }

    function closeMyNav() {
        document.getElementById("myProfileSidepanel").style.width = "0";
    }
</script>
