
<link rel="stylesheet" href="~/css/inSettingsStyle.css">
<link rel="stylesheet" href="~/css/settingsStyle.css">

<div id="settingsPopup" class="modal">

    <div class="modal-content">

        <a class="settings-close closeSettingsPanel">×</a>
        <div class="SettingsTitle">
            <p>Ayarlar </p>
            <hr>
        </div>
        <div class="tabs">
            <div class="tab-header">
                <div class="active">
                    <i class="fas fa-hand-spock"></i> Vhoops
                </div>
                <div class="">
                    <i class="fas fa-key"></i> Şifre Güncelle
                </div>
                <div>
                    <i class="fas fa-at"></i> Eposta Güncelle
                </div>
                <div>
                    <i class="fas fa-user-slash"></i> Engellenenler
                </div>
                <div>
                    <i class="fas fa-image"></i> Duvar Kağıdı
                </div>
            </div>
            <div class="tab-indicator"></div>
            <div class="tab-content">

                <div class="active information-area">
                    <i class="fas fa-hand-spock"></i>
                    <h2 class="welcome-vhoops">Vhoops'a Hoşgeldin</h2>
                    <p class="vhoops-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eum similique quisquam officiis neque, cumque dignissimos architecto nisi totam sapiente eos et illum laborum atque vero ea perferendis consectetur veritatis.</p>
                </div>

                <div class="information-area">
                    <label>Şifre değiştir </label><br>
                    <input type="text" name="" placeholder="Yeni şifre"><br>
                    <input type="text" name="" placeholder="Yeni şifre tekrarı"><br>
                    <button class="glow-on-hover" type="button">Güncelle</button>

                </div>
                <div class="information-area">
                    <label>Eposta değiştir </label><br>
                    <input type="text" name="" placeholder="Yeni eposta"><br>
                    <input type="text" name="" placeholder="Yeni eposta tekrarı"><br>
                    <button class="glow-on-hover" type="button">Güncelle</button>
                </div>

                <div>
                    <i class="fas fa-user-slash"></i>
                    <h2>This is about section</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eum similique quisquam officiis neque, cumque dignissimos architecto nisi totam sapiente eos et illum laborum atque vero ea perferendis consectetur veritatis.</p>
                </div>

                <div>
                    <i class="fas fa-image"></i>
                    <h2>This is services section</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eum similique quisquam officiis neque, cumque dignissimos architecto nisi totam sapiente eos et illum laborum atque vero ea perferendis consectetur veritatis.</p>
                </div>

            </div>
        </div>

    </div>
</div>

<script src="~/js/settingsApp.js"></script>
<script src="~/js/settingsPanelApp.js"></script>