<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <img src="images/profile.png" alt="">
    <a class="all-name" href="#">Kerem Sarı</a><hr>
    <a class="username" href="#">krmsari</a><hr>
    <a class="about" href="#">kerem html yazmakta zorlanıyor üzülüyor ağlıyor. kerem html sevmedi...</a><hr>
</div>
<script>
    var modal = document.getElementById('mySidepanel');
    function openNav() {
        modal.style.width = "30%";
    }

    function closeNav() {
        modal.style.width = "0";
    }
</script>