<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/updateStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <div class="box">
            <!-- <img src="~/img/berat.jpg" alt=""> -->
            <img style="left:1% ;" src="@ViewBag.Image" alt="">
            <input type="file" name="" id="file" accept="image/*">
            <label style="margin-left: 18%;" for="file">Değiştir</label>
            <input type="text" name="" placeholder="Ad">
            <input type="text" name="" placeholder="Soyadı">
            <input type="text" name="" placeholder="Kullanıcı Adı">
            <input type="text" name="" placeholder="Hakkında">
            <button style="float: left;left: 40%;">Geri</button>
            <button style="float: right;margin-left: 1%;">Kaydet</button>
        </div>
    </center>
</body>
</html>