<link rel="stylesheet" href="~/css/profileUpdateStyle.css">

<div id="myModal" class="modal">
    <div class="modal-content"> 
        <a href="javascript:void(0)" class="my-profile-update close" onclick="closeNav()">×</a>
        <div class="image-content">
            <img src="@ViewBag.Image">
            <button id="change-photo"><i class="fas fa-images">Değiştir</i></button>
        </div>
        <form class="update-form">
            <div class="form-group">
                <input placeholder="Ad" type="text" maxlength="18" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <input placeholder="Soyad" type="text" maxlength="18" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <input placeholder="Kullanıcı Adı" maxlength="12" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <input placeholder="Eposta" type="text" maxlength="28" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <textarea placeholder="Hakkında" class="form-control" maxlength="30"></textarea>
            </div>
            <div>
                <button type="submit" class="submit-button">Güncelle</button>
            </div>
        </form>
    </div>
</div>